# =======================
# DEPENDENCIAS
# =======================
node_modules/
bun.lockb
bun.lock
package-lock.json
yarn.lock
pnpm-lock.yaml

# =======================
# COMPILACIÓN / BUILD
# =======================
dist/
out/
build/
*.tgz

# =======================
# COVERAGE
# =======================
coverage/
*.lcov

# =======================
# LOGS
# =======================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# =======================
# VARIABLES DE ENTORNO
# =======================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =======================
# CACHÉS
# =======================
.eslintcache
.cache/
*.tsbuildinfo

# =======================
# EDITORES / IDEs
# =======================
.idea/
.vscode/
*.swp

# =======================
# OTROS
# =======================
.DS_Store
Thumbs.db

/generated/prisma
